# Banco de desenvolvimento
DB_URL=jdbc:postgresql://localhost:5432/carteira_acoes
DB_USERNAME=postgres
DB_PASSWORD=

# Provedores de cotação
BRAPI_URL=
BRAPI_TOKEN=
ALPHA_VANTAGE_URL=
ALPHA_VANTAGE_API_KEY=

# Validações cadastrais
CEP_API_URL=
CNPJ_API_URL=
CVM_API_URL=
